<a href="https://colab.research.google.com/github/baesumin/DeepLearning/blob/main/sk%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
import pandas as pd
import numpy as np
import io
MyTrainset = pd.read_csv(io.StringIO(uploaded['train.csv'].decode('utf-8')))

In [ ]:
MyTrainset

               ID     cr_ID  ... data_defect status
0      HDDSN00000  CRSTR01L  ...      1341.0   pass
1      HDDSN00001  CRSTR01Q  ...      8037.0   pass
2      HDDSN00002  CRSTR01N  ...      1583.0   pass
3      HDDSN00003  CRSTR01A  ...      3345.0   pass
4      HDDSN00004  CRSTR01C  ...      3296.0   pass
...           ...       ...  ...         ...    ...
31995  HDDSN39991  CRSTR01Q  ...      2057.0   pass
31996  HDDSN39993  CRSTR01O  ...      2382.0   fail
31997  HDDSN39994  CRSTR01C  ...      3133.0   fail
31998  HDDSN39997  CRSTR01T  ...      2410.0   pass
31999  HDDSN39999  CRSTR01S  ...      5244.0   pass

[32000 rows x 9 columns]

In [ ]:
df_x = MyTrainset.loc[:,(MyTrainset.columns != 'status') & (MyTrainset.columns != 'ID') & (MyTrainset.columns != 'cr_ID') & (MyTrainset.columns != 'eq_ID')& (MyTrainset.columns != 'assembly_time')& (MyTrainset.columns != 'process_time')]
df_y = MyTrainset.loc[:,'status']

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [ ]:
cr_ID = MyTrainset.loc[:,'cr_ID']
encoder.fit(cr_ID)
cr_ID = encoder.transform(cr_ID)
cr_ID = pd.DataFrame(cr_ID)
cr_ID.columns = ['cr_ID']
cr_ID

In [ ]:
eq_ID = MyTrainset.loc[:,'eq_ID']
encoder.fit(eq_ID)
eq_ID = encoder.transform(eq_ID)
eq_ID = pd.DataFrame(eq_ID)
eq_ID.columns = ['eq_ID']
eq_ID

In [ ]:
assembly_time = MyTrainset.loc[:,'assembly_time']
assembly_time

0        2015-03-09 09:36:00
1        2015-03-10 02:13:00
2        2015-03-06 23:06:00
3        2015-03-08 05:10:00
4        2015-03-09 06:44:00
                ...
31995    2015-03-08 06:02:00
31996    2015-03-07 13:06:00
31997    2015-03-08 16:14:00
31998    2015-03-05 13:11:00
31999    2015-03-08 05:31:00
Name: assembly_time, Length: 32000, dtype: object

In [ ]:
process_time = MyTrainset.loc[:,'process_time']
process_time

0        2015-03-09 11:33:55
1        2015-03-10 03:16:18
2        2015-03-07 00:00:12
3        2015-03-08 06:36:18
4        2015-03-09 09:13:40
                ...
31995    2015-03-08 07:31:54
31996    2015-03-07 14:03:08
31997    2015-03-08 18:55:56
31998    2015-03-05 15:21:58
31999    2015-03-08 06:55:14
Name: process_time, Length: 32000, dtype: object

In [ ]:
assembly_time = pd.to_datetime(assembly_time, format="%Y/%m/%d %H:%M:%S")
process_time = pd.to_datetime(process_time, format="%Y/%m/%d %H:%M:%S")

In [ ]:
from datetime import datetime

In [ ]:
generalTime = datetime(2015,3,1,0,0,0)
print(generalTime)

2015-03-01 00:00:00

In [ ]:
m_assembly_time = assembly_time - generalTime
m_assembly_time = m_assembly_time.dt.days*86400+m_assembly_time.dt.seconds
m_assembly_time = pd.DataFrame(m_assembly_time)
m_assembly_time.columns = ['m_assembly_time']
m_assembly_time

       m_assembly_time
0               725760
1               785580
2               515160
3               623400
4               715440
...                ...
31995           626520
31996           565560
31997           663240
31998           393060
31999           624660

[32000 rows x 1 columns]

![image.png]()

In [ ]:
m_process_time = process_time - generalTime
m_process_time = m_process_time.dt.days*86400+m_process_time.dt.seconds
m_process_time = pd.DataFrame(m_process_time)
m_process_time.columns = ['m_process_time']
m_process_time

       m_process_time
0              732835
1              789378
2              518412
3              628578
4              724420
...               ...
31995          631914
31996          568988
31997          672956
31998          400918
31999          629714

[32000 rows x 1 columns]

In [ ]:
timeDiffer = process_time - assembly_time
timeDiffer = timeDiffer.dt.seconds
timeDiffer = pd.DataFrame(timeDiffer)
timeDiffer.columns = ['timeDiffer']
timeDiffer

In [ ]:
df_x = pd.concat([df_x,cr_ID,eq_ID,timeDiffer,m_assembly_time,m_process_time], axis=1)
print(df_x)

         ramp  servo_defect  ...  m_assembly_time  m_process_time
0      4561.0        6083.0  ...           725760          732835
1      3898.0        1819.0  ...           785580          789378
2      3016.0        4997.0  ...           515160          518412
3      1605.0        4415.0  ...           623400          628578
4      1002.0        2394.0  ...           715440          724420
...       ...           ...  ...              ...             ...
31995  1303.0        2796.0  ...           626520          631914
31996  3036.0        5538.0  ...           565560          568988
31997  2954.0        3607.0  ...           663240          672956
31998  1133.0        3279.0  ...           393060          400918
31999  3179.0        4771.0  ...           624660          629714

[32000 rows x 8 columns]

In [ ]:
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier
from lightgbm import LGBMClassifier, plot_importance
from xgboost import XGBClassifier #
from sklearn.model_selection import StratifiedKFold #
from sklearn.svm import SVC

In [ ]:
results = []
names = []
scoring = 'accuracy'
models = []
models.append(('RF', RandomForestClassifier()))
models.append(('LGBM',LGBMClassifier()))
models.append(('XGB',XGBClassifier()))
models.append(('Knn',KNeighborsClassifier()))
for name, model in models:
  kfold= model_selection.KFold(n_splits=10, shuffle=True)
  cv_results= model_selection.cross_val_score(model, df_x, df_y, cv=kfold, scoring=scoring)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(),   cv_results.std())
  print(msg)

RF: 0.908156 (0.005624)
LGBM: 0.914000 (0.003327)
XGB: 0.907813 (0.004335)
Knn: 0.845063 (0.007108)

In [ ]:
import hyperopt
from hyperopt import fmin, tpe, hp, STATUS_OK, Trials

In [ ]:
lgb_reg_params = {
    'learning_rate':    hp.uniform('learning_rate',0.1,1),
    'max_depth':        hp.choice('max_depth',        np.arange(2, 100, 1, dtype=int)),
    'min_child_weight': hp.choice('min_child_weight', np.arange(1, 50, 1, dtype=int)),
    'colsample_bytree': hp.uniform('colsample_bytree',0.4,1),
    'subsample':        hp.uniform('subsample', 0.6, 1),
    'num_leaves':       hp.choice('num_leaves',       np.arange(1, 200, 1, dtype=int)),
    'min_split_gain':   hp.uniform('min_split_gain', 0, 1),
    'reg_alpha':        hp.uniform('reg_alpha',0,1),
    'reg_lambda':       hp.uniform('reg_lambda',0,1),
    'n_estimators':     5
}
def f(params):
  lgbm = LGBMClassifier(n_jobs=-1,early_stopping_rounds=None,**params)
  score = cross_val_score(lgbm, df_x, df_y, cv=2,n_jobs=-1).mean()
  return score

trials = Trials()
result = fmin(
    fn=f,                           # objective function
    space=lgb_reg_params,   # parameter space
    algo=tpe.suggest,               # surrogate algorithm
    max_evals=50,                  # no. of evaluations
    trials=trials                   # trials object that keeps track of the sample results (optional)
)
print(result)

100%|██████████| 50/50 [00:16<00:00,  3.06it/s, best loss: 0.7233125]
{'colsample_bytree': 0.5980592781625971, 'learning_rate': 0.10160339963730963, 'max_depth': 35, 'min_child_weight': 25, 'min_split_gain': 0.3075134232236474, 'num_leaves': 102, 'reg_alpha': 0.807051106823602, 'reg_lambda': 0.693692495189385, 'subsample': 0.8518008007642804}

In [ ]:
param = {
    'learning_rate':    0.10160339963730963,
    'max_depth':        35,
    'min_child_weight': 25,
    'colsample_bytree': 0.5980592781625971,
    'subsample':        0.8518008007642804,
    'num_leaves':       102,
    'min_split_gain':   0.3075134232236474,
    'reg_alpha':        0.807051106823602,
    'reg_lambda':       0.693692495189385,
    'n_estimators':     5
}

In [ ]:
results = []
names = []
scoring = 'accuracy'
models = []
models.append(('LGBM',LGBMClassifier(n_estimators=99,min_samples_leaf=1,min_samples_split=2,max_features='sqrt',max_depth=50,bootstrap='false')))
for name, model in models:
  kfold= model_selection.KFold(n_splits=10, shuffle=True)
  cv_results= model_selection.cross_val_score(model, df_x, df_y, cv=kfold, scoring=scoring)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(),   cv_results.std())
  print(msg)

LGBM: 0.914062 (0.004807)

In [ ]:
uploaded = files.upload()

Saving test.csv to test.csv

In [ ]:
testset = pd.read_csv(io.StringIO(uploaded['test.csv'].decode('utf-8')))

In [ ]:
testset

              ID     cr_ID  ... servo_defect data_defect
0     HDDSN00014  CRSTR01A  ...       5784.0      1620.0
1     HDDSN00020  CRSTR01O  ...       4998.0      3565.0
2     HDDSN00021  CRSTR01P  ...       3812.0      2760.0
3     HDDSN00025  CRSTR01I  ...       5628.0      1349.0
4     HDDSN00029  CRSTR01R  ...       4150.0      3704.0
...          ...       ...  ...          ...         ...
7995  HDDSN39990  CRSTR01F  ...       3712.0      5631.0
7996  HDDSN39992  CRSTR01O  ...       4102.0      5473.0
7997  HDDSN39995  CRSTR01J  ...       5214.0      2631.0
7998  HDDSN39996  CRSTR01B  ...       5133.0      7505.0
7999  HDDSN39998  CRSTR01Q  ...       4116.0      3540.0

[8000 rows x 8 columns]

In [ ]:
test_x = testset.loc[:,(testset.columns != 'ID') & (testset.columns != 'cr_ID') & (testset.columns != 'eq_ID')& (testset.columns != 'assembly_time')& (testset.columns != 'process_time')]
test_cr_ID = testset.loc[:,'cr_ID']

encoder.fit(test_cr_ID)
test_cr_ID = encoder.transform(test_cr_ID)
test_cr_ID = pd.DataFrame(test_cr_ID)
test_cr_ID.columns = ['cr_ID']

test_eq_ID = testset.loc[:,'eq_ID']
encoder.fit(test_eq_ID)
test_eq_ID = encoder.transform(test_eq_ID)
test_eq_ID = pd.DataFrame(test_eq_ID)
test_eq_ID.columns = ['eq_ID']

test_assembly_time = testset.loc[:,'assembly_time']
test_process_time = testset.loc[:,'process_time']

test_assembly_time = pd.to_datetime(test_assembly_time, format="%Y/%m/%d %H:%M:%S")
test_process_time = pd.to_datetime(test_process_time, format="%Y/%m/%d %H:%M:%S")

test_m_assembly_time = test_assembly_time - generalTime
test_m_assembly_time = test_m_assembly_time.dt.days*86400+test_m_assembly_time.dt.seconds
test_m_assembly_time = pd.DataFrame(test_m_assembly_time)
test_m_assembly_time.columns = ['m_assembly_time']

test_m_process_time = test_process_time - generalTime
test_m_process_time = test_m_process_time.dt.days*86400+test_m_process_time.dt.seconds
test_m_process_time = pd.DataFrame(test_m_process_time)
test_m_process_time.columns = ['m_process_time']

test_timeDiffer = test_process_time - test_assembly_time
test_timeDiffer = test_timeDiffer.dt.seconds
test_timeDiffer = pd.DataFrame(test_timeDiffer)
test_timeDiffer.columns = ['timeDiffer']

test_x = pd.concat([test_x,test_cr_ID,test_eq_ID,test_timeDiffer,test_m_assembly_time,test_m_process_time], axis=1)

In [ ]:
df_x

         ramp  servo_defect  ...  m_assembly_time  m_process_time
0      4561.0        6083.0  ...           725760          732835
1      3898.0        1819.0  ...           785580          789378
2      3016.0        4997.0  ...           515160          518412
3      1605.0        4415.0  ...           623400          628578
4      1002.0        2394.0  ...           715440          724420
...       ...           ...  ...              ...             ...
31995  1303.0        2796.0  ...           626520          631914
31996  3036.0        5538.0  ...           565560          568988
31997  2954.0        3607.0  ...           663240          672956
31998  1133.0        3279.0  ...           393060          400918
31999  3179.0        4771.0  ...           624660          629714

[32000 rows x 8 columns]

In [ ]:
test_x

        ramp  servo_defect  ...  m_assembly_time  m_process_time
0     1518.0        5784.0  ...           647220          648792
1     1070.0        4998.0  ...           900840          907429
2     1008.0        3812.0  ...           621120          624031
3     1041.0        5628.0  ...           760380          765443
4     2150.0        4150.0  ...           581580          584193
...      ...           ...  ...              ...             ...
7995  1163.0        3712.0  ...           798840          805336
7996  1028.0        4102.0  ...           374820          380336
7997  1202.0        5214.0  ...           876240          881711
7998  2400.0        5133.0  ...           556920          564408
7999  1103.0        4116.0  ...           513660          519049

[8000 rows x 8 columns]

In [ ]:
model = LGBMClassifier()
model.fit(df_x, df_y)
pred_y = model.predict(test_x)

In [ ]:
a = pd.DataFrame(pred_y)
a.to_csv("배수민.csv", index = False, header = False)

In [ ]:
import xlwt, xlrd

In [ ]:
file_name = '배수민.xls'

In [ ]:
wb = xlwt.Workbook()

In [ ]:
ws_1 = wb.add_sheet('sheet0',cell_overwrite_ok=False)

In [ ]:
ws_1 = wb.get_sheet(0)

In [ ]:
idx = 0

In [ ]:
#ws_1.write(0,0,'a')
for i in range(0,len(pred_y)):
  ws_1.write(idx,0,pred_y[i])
  idx+=1

In [ ]:
wb.save(file_name)
files.download(file_name)